.container() {
  min-width: 320px;
  margin: 0 auto;

  @media @tablet-widths {
    min-width: 768px;
  }

  @media @desktop-widths {
    max-width: 1150px;
  }
}

.font(@font-size: inherit, @line-height: inherit, @font-weight: inherit, @color: inherit) {
  font-size: @font-size;
  line-height: @line-height;
  font-weight: @font-weight;
  color: @color;
}

.bordered(@border-color: #000, @border-width: 1px, @border-style: solid) {
  border: @border-width @border-color @border-style;
}

.heading() {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: @head-color;

  @media @tablet-widths {
    font-size: 43px;
    line-height: 50px;
  }

  @media @desktop-widths {
    font-size: 53px;
    line-height: 57px;
  }
}

.svg-adaptive() {
   &--mobile {
    @media @tablet-widths {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media @tablet-widths {
      display: block;
    }

    @media @desktop-widths {
      display:none
    }
  }

  &--desktop {
    display: none;

    @media @desktop-widths {
      display: block;
    }
  }
}

.svg-styleguide() {
  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}
