.advantages__container {
  .container();

  padding-top: 28px;
  padding-right: 30px;
  padding-left: 30px;

  @media @tablet-widths {
    padding-top: 51px;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media @desktop-widths {
    padding-top: 59px;
    padding-left: 225px;
    padding-right: 225px;
  }
}

.advantages__title {
  .heading();

  margin-left: -2px;
  margin-bottom: 36px;

  @media @tablet-widths {
    margin-left: -5px;
    margin-bottom: 52px;
  }
}

.advantages__list {
  @media @tablet-widths {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  .font(17px, 21px, bold, @head-color);

  position: relative;
  flex: 50%;
  margin-bottom: 31px;
  padding-top: 50px;

  @media @tablet-widths {
    margin-bottom: 59px;
    font-size: 20px;
    line-height: 23px;
  }

  &::before {
    content: '';
    position: absolute;
    top: -11px;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--feature-1 {
    order: -7;
    padding-right: 70px;

    @media @tablet-widths {
      padding-right: 110px;
    }

    @media @desktop-widths {
      padding-right: 130px;
    }

    &::before {
      background-image: url(../img/icon-feature-1.svg);
    }
  }

  &--feature-2 {
    order: -5;
    padding-right: 50px;

    @media @tablet-widths {
      padding-right: 70px;
    }

    @media @desktop-widths {
      padding-right: 100px;
    }

    &::before {
    top: -15px;
    left: -2px;
    background-image: url(../img/icon-feature-3.svg);
    }
  }

  &--feature-3 {
    order: -3;
    padding-right: 70px;

    @media @tablet-widths {
      padding-right: 110px;
    }

    &::before {
    left: -2px;
    background-image: url(../img/icon-feature-5.svg);
    }
  }

  &--feature-4 {
    order: -6;
    padding-right: 49px;

    @media @tablet-widths {
      padding-right: 70px;
    }

    &::before {
    top: -10px;
    left: -5px;
    background-image: url(../img/icon-feature-2.svg);
    }
  }

  &--feature-5 {
    order: -4;


    &::before {
    top: -14px;
    left: -5px;
    background-image: url(../img/icon-feature-4.svg);
    }
  }

  &--feature-6 {
    padding-right: 50px;

    @media @tablet-widths {
      padding-right: 60px;
    }
  }

  &--feature-6::before {
    left: -6px;
    background-image: url(../img/icon-feature-6.svg);
  }
}
