.advantages__container {
  .container();

  padding-top: 39px;
  padding-right: 30px;
  padding-left: 30px;
}

.advantages__title {
  .font(25px, 30px, bold, @head-color);

  margin-bottom: 36px;

  @media @tablet-widths {
    .font(43px, 50px, bold, @head-color);
  }
}

.advantages__list {
  @media @tablet-widths {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  .font(17px, 21px, bold, @head-color);

  position: relative;
  flex: 50%;
  margin-bottom: 31px;
  padding-top: 50px;

  &::before {
    content: '';
    position: absolute;
    top: -11px;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--feature-1::before {
    background-image: url(../img/icon-feature-1.svg);
  }

  &--feature-2::before {
    top: -15px;
    left: -2px;
    background-image: url(../img/icon-feature-3.svg);
  }

  &--feature-3::before {
    left: -2px;
    background-image: url(../img/icon-feature-5.svg);
  }

  &--feature-4::before {
    top: -10px;
    left: -5px;
    background-image: url(../img/icon-feature-2.svg);
  }

  &--feature-5::before {
    top: -14px;
    left: -5px;
    background-image: url(../img/icon-feature-4.svg);
  }

  &--feature-6::before {
    left: -6px;
    background-image: url(../img/icon-feature-6.svg);
  }

  @media @tablet-widths {
      .font(20px, 21px, bold, @head-color);
  }
}
