.copyright__container {

}

.copyright__link {
  .font(19px, 18px, bold, @head-color);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 21px 0 23px 0;
}

.copyright__link :nth-child(n) {
  margin: 0 14px;
}
