.copyright__container {

}

.copyright__link {
  .font(19px, 18px, bold, @head-color);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px 0;

  @media @tablet-widths {
    justify-content: flex-end;
  }
}

.copyright__link :nth-child(n) {
  margin: 0 14px;

  @media @tablet-widths {
    margin: 0;

    &:first-child {
      margin-right: 30px;
    }
  }
}
