.item__container {
  .mobile-container();
}

.item__inner {
  padding: 0 30px;
}

.item__title {
  .font(17px, 24px, bold, @head-color);
}

.item__descr {
  .font(13px, 30px, normal, @base-color);

  &--extra {
    line-height: 24px;
  }
}

.item__price {
  .font(15px, 24px, bold, @head-color);
}

.item__img {
  display: block;
}
