.item-featured {
  .font(15px, 24px, normal);
}

.item-featured__container {
  .container();

  position: relative;
  padding-top: 27px;
  padding-right: 30px;
  padding-left: 30px;

  @media @tablet-widths {
    padding-top: 50px;
  }

  @media @desktop-widths {
    margin-top: 50px;
    padding-left: 175px;
  }
}

.item-featured__title {
  .heading();

  margin-bottom: 8px;
}

.item-featured__date {
  .font(17px, 16px, bold, @sub-color);

  display: block;
  margin-bottom: 25px;
  text-transform: uppercase;

  @media @tablet-widths {
    position: absolute;
    max-width: 130px;
    top: 55px;
    right: 0;
    text-align: center;
  }

  @media @desktop-widths {
    left: 0;
  }
}

.item-featured__inner {
  display: flex;
  flex-direction: column;

  @media @tablet-widths {
    position: relative;
    width: 50%;
    padding-right: 44px;
  }

  @media @desktop-widths {
    position: static;
    width: 292px;
  }
}

.item-featured__descr {
  .font(15px, 24px, normal, @base-color);
  margin-bottom: 16px;

  @media @tablet-widths {
    .font(17px, 30px, normal, @base-color);
  }
}

.item-featured__table {
  .font(15px, 20px, normal, @base-color);

  width: 100%;
  margin-bottom: 26px;

  tr {
    border-bottom: 1px solid #ececec;
  }

  td {
    padding: 10px 0;
  }

  td:first-child {
    padding-right: 15px;
  }
}

.item-featured__img {
  width: 100%;
  height: auto;
  margin-bottom: 18px;

  @media @tablet-widths {
    position: absolute;
    height: 100%;
    top: 0;
    right: -100%;
    bottom: 0;
  }

  @media @desktop-widths {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
  }
}

.item-featured__price {
  .font(17px, 24px, bold, @base-color);

  display: block;
  margin-bottom: 26px;
  text-align: center;

  @media @tablet-widths {
    .font(20px, 24px, bold, @base-color);
  }
}

.item-featured__btn {
  @media @tablet-widths {
    margin-bottom: 0;
  }
}
