.item {
  margin-bottom: 30px;

  @media @tablet-widths {
    margin-bottom: 54px;

    &--last {
      margin-bottom: 54px - 1px;
    }
  }

  @media @desktop-widths {
    width: 315px;
    margin-right: 38px;
    margin-bottom: 57px;

    &--last {
      margin-right: 2px;
    }
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0 , 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0 , 0, 0.1);
  }
}

.item__container {
  position: relative;

  @media @tablet-widths {
    display: flex;
  }

  @media @desktop-widths {
    flex-direction: column;
  }
}

.item__inner {
  .bordered(#ededed);

  padding: 27px 27px;

  @media @tablet-widths {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 26px 27px;
  }

  @media @desktop-widths {
    justify-content: flex-start;
    flex-basis: 197px;
    width: 100%;
    padding: 26px 26px 26px 24px;
    border-top: 1px solid #ededed;
  }
}

.item__title {
  .font(17px, 24px, bold, @head-color);

  position: relative;
  margin-bottom: 5px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media @tablet-widths {
    padding-right: 37px;
    font-size: 20px;
    border-bottom: none;
  }

  @media @desktop-widths {
    padding-right: 27px;
    border: none;
  }
}

.item__descr {
  .font(13px, 30px, normal, @base-color);

  margin-bottom: 19px;

  @media @tablet-widths {
    margin-bottom: auto;
    font-size: 15px;
  }

  @media @desktop-widths {
    margin-bottom: auto;
  }
}

.item__control {
  padding-top: 20px;
  border-top: 1px solid #ececec;

  @media @tablet-widths {
    padding-top: 22px;
    padding-right: 3px;
    padding-left: 3px;
  }
}

.item__price {
  .font(15px, 24px, bold, @head-color);

  @media @tablet-widths {
    font-size: 17px;
  }
}

.item__img-wrap {
  @media @tablet-widths {
    width: 50%;
    min-height: 334px;
  }

  @media @desktop-widths {
    display: block;
    height: 462px;
    width: 100%;
  }
}

.item__img {
  display: block;
  width: 100%;
  height: 100%;
}

.item__link--basket {
  float: right;
  width: 21px;
  height: 21px;
  font-size: 0;

  &:hover svg {
    fill: #63d1bb;
    opacity: 1;
  }

  &:active svg {
    opacity: 0.3;
  }

  svg {
    opacity: 0.2;
  }
}
