.main-menu__container {
  .mobile-container();
}

.main-menu__list {
  display: none;
}

.main-menu__link {
  .font(17px, 24px, bold, @head-color);

  width: 100%;
  display: block;
  padding: 30px 0;
  text-align: center;
}

.main-menu__btn {
  position: absolute;
  top: 30px;
  right: 30px;
}
