.page-header__container {
  position: relative;
  min-width: 320px;
}

.page-header__toggle {
  position: absolute;
  z-index: 1000;
  top: 28px;
  right: 30px;
  width: 22px;
  height: 22px;
  background: url(../img/icon-menu-close.svg) no-repeat;
  border: none;
  outline: none;
  cursor: pointer;

  @media @tablet-widths {
    display: none;
  }
}
