.page-content__container {
  .container();
}

.page-content__btn-wrap {
  margin-bottom: 9px;
  padding-right: 30px;
  padding-left: 30px;
}

.page-content__btn {
  .font(18px, 16px, bold, @base-color);
}
