.page-header--js {
  @media @df-mobile-widths {
    margin-top: 80px;
  }
}

.page-header__container {
  min-width: 320px;
}

.page-header__toggle {
  position: absolute;
  z-index: 1000;
  top: 28px;
  right: 30px;
  width: 22px;
  height: 22px;
  background: url(../img/icon-menu-close.svg) no-repeat;
  border: none;
  outline: none;
  cursor: pointer;

  @media @tablet-widths {
    display: none;
  }

  &--closed {
    top: 32px;
    right: 29px;
    background-image: url(../img/icon-menu-open.svg);
  }
}
