.page-header__container {
  .container();

  position: relative;
  background: url('../img/hero-mobile@1x.jpg') no-repeat 50% 61px;

  &--catalog {
    background: @bg-color;
  }
  &--form {
    background: @bg-color;
  }
}

.page-header__logo-link {
  display: block;
  padding: 19px 0;
  text-align: center;
  background-color: @alt-color;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;

  @media @tablet-widths {
    position: absolute;
    left: 0;
    border: none;
  }
}

.page-header__title {
  .heading();

  padding: 70px 30px 122px 30px;
  text-align: center;

  &--catalog,
  &--form {
    padding-bottom: 76px;
  }

}
