.reviews {
    padding-bottom: 20px;
    background-image: url(../img/bg-zigzag-line.svg);
    background-repeat: repeat-x;
    background-position: 20px bottom;
    background-size: auto 7px;

  @media @tablet-widths {
    padding-top: 22px;
    padding-bottom: 82px;
    background-position: -4px bottom;
    background-size: auto 14px;
  }

  @media @desktop-widths {
    padding-top: 30px;
    padding-bottom: 60px;
    background-size: auto 23px;
    background-position: 27px bottom;
  }
}

.reviews__container {
  .container();

  position: relative;
  padding-top: 22px;
  padding-right: 30px;
  padding-left: 30px;

  @media @tablet-widths {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 77px;
    padding-right: 50px;
    padding-left: 50px;
    background: url(../img/review@1x.jpg) no-repeat;
    background-size: 350px 457px;
  }

  @media @desktop-widths {
    background-position: 50px 0;
  }

  @media (min-width: 768px) and (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
    background-image: url(../img/review@2x.jpg);
  }

  @media @desktop-widths {
    padding-top: 70px;
    padding-right: 50px;
    padding-bottom: 78px;
    padding-left: 225px;
  }
}

.reviews__title {
  .heading();

  margin-left: -2px;
  margin-bottom: 24px;
  order: -2;
//  flex-basis: 74%;

  @media @tablet-widths {
    margin-left: -5px;
    margin-bottom: 64px;
  }

  @media @desktop-widths {

  }
}

.reviews__text {
  .font(15px, 30px, normal, @base-color);

  margin-bottom: 26px;

  @media @tablet-widths {
    .font(17px, 30px, normal, @base-color);

    margin-top: -15px;
    margin-bottom: 58px;
  }

  @media @desktop-widths {
    margin-bottom: 39px;
    padding-right: 80px;
  }
}

.reviews__author {
  .font(18px, 24px, bold, @head-color);

  display: block;
  margin-bottom: 30px;
  font-style: normal;
  flex-basis: 75%;

  @media @tablet-widths {
    font-size: 17px;
    margin-bottom: 47px;
  }
}

.reviews__author-tag {
  .font(18px, 30px, normal, @head-color);

  display: block;
  margin-top: 3px;

  @media @tablet-widths {
    font-size: 17px;
  }
}

.reviews__control {
  display: flex;
  flex-basis: 25%;
  margin-bottom: 38px;

  @media @tablet-widths {
    margin-bottom: 18px;
  }

  @media @desktop-widths {
    flex-basis: 166px;
  }
}

.reviews__btn {
  height: 52px;
  font-size: 0;
  flex-basis: 50%;
  cursor: pointer;

  .bordered(#ececec);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--prev {
    background: url(../img/icon-left-arrow.svg) no-repeat 49%;

    @media @tablet-widths {
      background-position: 33%;
    }

  }
  &--next {
    background: url(../img/icon-right-arrow.svg) no-repeat 48%;
    border-left: none;

    @media @tablet-widths {
      background-position: 42%;
    }
  }

  @media @tablet-widths {
    border: none;
  }
}

.reviews__write {
  order: -1;
  min-width: 175px;
//  margin-bottom: 30px;

  @media @desktop-widths {

    margin-top: 9px;
  }
}

.reviews__write-btn {
  .font(18px, 16px, bold, @base-color);
  @media @tablet-widths {
    font-size: 17px;
  }
}
