.secondary-menu__list {
  .mobile-width();
}

.secondary-menu__item {
  position: relative;
  padding: 18px 0;
  &--left {
    background-color: #63d1bb;
  }
  &--right {
    background-color: #56c3b2;
  }
}

.secondary-menu__link {
  .font(19px, 24px, bold, @alt-color);

  display: block;
  padding: 10px 160px 10px 30px;
}
