.social__list {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  border-bottom: 1px solid #e5e5e5;

  @media @tablet-widths {
    padding: 58px 10px 55px 10px;
  }
}

.social__link {
  position: relative;
  font-size: 0;
  width: 60px;
  height: 30px;
}

.social__icon {
  .svg-styleguide();

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--ig {
    transform: translate(-58%, -47%);
  }

  &--fb {
    transform: translate(-65%, -55%);
  }

  &--tw {
    transform: translate(-67%, -50%);
  }
}
